.main {
    margin: 0 auto;
    width: max-content;
    text-align: center;
}
img {
    width: 120px;
    height: 120px;
}
[draggable] {
    cursor: grab;
}
.container {
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    gap: 15px;
}
.piece {
    width: 120px;
    height: 120px;
    border: 5px solid rgb(212, 212, 223);
}
#text {
    margin-top: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}
.cells {
    width: fit-content;
    margin: 0 auto;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
}
.cell {
    width: 120px;
    height: 120px;
    border: 1px solid rgb(196, 196, 196);
}